*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #252525;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

header{
    background-color: #414141;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}

header img{
    height: 70px;
    cursor: pointer;
}

header nav{
    display: flex;
    gap: 20px;
}

header nav a{
    color: #FFBC00;
    text-decoration: none;
    transition: 0.3s linear;
}

header nav a:hover{
    color: #ffe200;
    font-weight: bold;
    text-shadow: black 3px 3px 5px;
}

.user-icon{
    height: 40px;
    cursor: pointer;
    align-items: center;
}

.container{
    margin: auto;
    background-color: #252525;
}

.banner{
    width: 100%;
    display: flex;
    overflow: hidden;
}

.imagensBanner{
   display: flex;
   align-items: center;
   width: 100%;
}

.banner img{
    align-items: center;
    min-width:100%;
    max-width: 100%;
    min-height: auto;
    max-height: 480px;
    transition: transform 0.5s ease-in-out;
}


.produtos{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    place-items: center;
    max-width: 800px;
    margin: auto;
    padding-bottom: 10px;
}

.produtos h1{
    margin-top: 50px;
    grid-column: 1 / 4;
    background-color: #414141;
    padding: 15px;
    border-radius: 15px;
    color: #FFBC00;
    font-weight: normal;
    font-size: 28px;
}

.card{
    background-color: #414141;
    height: 120px;
    width: 230px;
    border-radius: 15px;
    color: white;
    text-align: left;
    padding: 10px;
    transition: 0.1s ease-in-out;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.452) 3px 3px 10px;
    transform: scale(1.05);
    cursor: pointer;
}
.card h2{
    color: #FFBC00;
    font-weight: normal;
}


.contatos{
    margin: auto;
    padding-top: 20px;
    max-width: 900px;
    background-color: #414141;
    border-radius: 15px;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-contatos{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    flex-direction: column;
}

.conteudo{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.qrcode{
    display: flex;
    align-self: center;
}
.qrcode img{
    height: 230px;
    border-radius: 10px;
    margin-right: 50px;
}

footer h1{
    color: #FFBC00;
    margin-left: -60%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}
.links-footer{
    display: flex;
    gap: 25px;
    flex-direction: column;
    margin-top: 15px;
}
.links-footer p{
    font-size: 30px;
    font-weight: normal;
    transition: 0.2s linear;
}
.links-footer p:hover{
    color: #ffe200;
    font-weight: 200;
    text-shadow: black 2px 2px 5px;
    cursor: pointer;
}
footer{
    padding: 20px 0;
}
.img-footer{
    display: flex;
    flex-direction: column;
}
.img-footer img{
    height: 50px;
    margin-top: 10px;
    transition: transform 0.1s ease-in-out;
}
.img-footer img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media (max-width: 992px){

    header{
        padding: 10px 20px;
    }

    header nav{
        gap: 10px;
    }
    .banner, .imagensBanner{
        height: 300px;
    }

    .produtos{
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
    }

    .produtos h1{
        grid-column: 1 / 3;
    }

    .info-contatos{
        padding: 20px;
    }

    .qrcode img{
        height: 140px;
    }


}


@media (max-width: 768px){

    header{
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    header img{
        height: 60px;
    }

    header nav{
        flex-wrap: wrap;
        justify-content: center;
    }


    .banner, .imagensBanner{
        height: 220px;
    }

    .produtos{
        grid-template-columns: 1fr;
        max-width: 90%;
    }

    .produtos h1{
        grid-column: 1 / 2;
    }

    .info-contatos{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}



@media (max-width: 480px){

    header nav a{
        font-size: 14px;
    }

    .banner, .imagensBanner{
        height: 200px;
    }

    .card{
        width: 90%;
        height: auto;
    }

    .qrcode img{
        height: 120px;
    }

    .conteudo{
        font-size: 16px;
    }
}


